/Timetable/nbproject/private/
/Timetable/Timetable-war/nbproject/private/
/Timetable/Timetable-ejb/nbproject/private/
/Timetable/Timetable-ejb/build/
/Timetable/build/
/Timetable-lib/nbproject/private/
/Timetable-lib/build/
/Timetable-lib/dist/
/Timetable/Timetable-ejb/dist/
/Timetable/Timetable-war/build/
/Timetable/Timetable-war/dist/
/Timetable/dist/
